@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  margin: 0 auto;
  max-width: 76.875rem;
  box-sizing: content-box;
}
@media (max-width: 78.75em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  padding-top: 20px;
  background: url("../img/bg.png") 0 0 no-repeat, linear-gradient(55.95deg, rgba(255, 64, 58, 0.3137254902) 0%, rgba(247, 94, 5, 0.1019607843) 100%);
}
.header__container {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 16px 0px 16px 0px;
}
@media (max-width: 61.99875em) {
  .header__container {
    max-width: 46.875rem;
    flex-direction: column;
  }
}
@media (max-width: 29.99875em) {
  .header__container {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 61.99875em) {
  .header__logo {
    max-width: 46.875rem;
    margin-bottom: 10px;
  }
}
.header__menu {
  margin-left: 60px;
  flex: 1 1 auto;
}
@media (max-width: 78.75em) {
  .header__menu {
    max-width: 60.625rem;
    margin-left: 30px;
    flex: 0 1 auto;
  }
}
@media (max-width: 61.99875em) {
  .header__menu {
    max-width: 46.875rem;
    margin-bottom: 10px;
  }
}
.menu__list {
  display: flex;
}
@media (max-width: 29.99875em) {
  .menu__list {
    display: none;
    position: absolute;
    height: 20%;
    width: 25%;
    top: 10%;
    left: 70%;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    padding: 5px 10px;
  }
}
.menu__list._active {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.menu__item {
  margin-right: 40px;
}
@media (max-width: 78.75em) {
  .menu__item {
    max-width: 60.625rem;
    margin-right: 20px;
  }
}
.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
@media (max-width: 29.99875em) {
  .menu__link {
    color: white;
  }
}
.log-in__get {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  display: inline-block;
  padding: 0px 40px 0px 40px;
  margin-right: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
@media (max-width: 29.99875em) {
  .log-in__get {
    display: none;
  }
}
.log-in__register {
  display: inline-block;
}
.log-in__register img {
  margin-right: 10px;
}

.main__container {
  display: flex;
  justify-content: space-between;
  padding: 128px 0px 189px 0px;
}
@media (max-width: 61.99875em) {
  .main__container {
    max-width: 46.875rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 50px 0px 100px 0px;
    gap: 30px;
  }
}
.main__picture img {
  width: 100%;
}
@media (max-width: 78.75em) {
  .main__picture img {
    max-width: 60.625rem;
    margin: 0 auto;
  }
}
@media (max-width: 61.99875em) {
  .main__picture img {
    max-width: 46.875rem;
  }
}

@media (max-width: 61.99875em) {
  .info-main {
    max-width: 46.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.info-main__play {
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
}
.info-main__play::before {
  content: "";
  width: 84px;
  height: 84px;
  background: url("../img/play.svg") 0px 0px no-repeat;
  display: inline-block;
}
.info-main__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #1E212C;
  max-width: 496px;
  margin-bottom: 60px;
}
@media (max-width: 78.75em) {
  .info-main__title {
    max-width: 60.625rem;
    font-size: 40px;
  }
}
.link-main__about {
  border: 1px solid rgb(255, 63, 58);
  border-radius: 4px;
  color: rgb(255, 63, 58);
  margin-right: 24px;
  display: inline-block;
  line-height: 325%;
  padding: 0px 40px 0px 40px;
}
@media (max-width: 78.75em) {
  .link-main__about {
    max-width: 60.625rem;
    margin-right: 10px;
    line-height: 300%;
  }
}
.link-main__courses {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  display: inline-block;
  padding: 0px 40px 0px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
@media (max-width: 78.75em) {
  .link-main__courses {
    max-width: 60.625rem;
    line-height: 300%;
    padding: 0px 20px 0px 20px;
  }
}

.statistics__list {
  display: flex;
  justify-content: space-between;
}
.statistics__item {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}
@media (max-width: 61.99875em) {
  .statistics__item {
    max-width: 46.875rem;
    display: flex;
    flex-direction: column;
  }
}
.statistics__item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-right: 12px;
}
@media (max-width: 61.99875em) {
  .statistics__item span {
    max-width: 46.875rem;
    font-size: 23px;
  }
}
.statistics__item:not(:first-child)::before {
  content: "";
  width: 8px;
  height: 8px;
  background: url("../img/stat.svg") 0 0 no-repeat;
  margin-right: 66px;
}
@media (max-width: 78.75em) {
  .statistics__item:not(:first-child)::before {
    max-width: 60.625rem;
    margin-right: 25px;
  }
}
@media (max-width: 61.99875em) {
  .statistics__item:not(:first-child)::before {
    max-width: 46.875rem;
    margin-right: 5px;
  }
}
@media (max-width: 61.99875em) and (max-width: 29.99875em) {
  .statistics__item:not(:first-child)::before {
    display: none;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 29.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
